*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(112, 163, 152);
    /* animation-name: backdrop;
    animation-duration: 30s; */
    margin: 0px;
    padding: 0px;
}

/* @keyframes backdrop{
    from{background-color: rgb(255, 255, 255);}
    to{background-color: rgb(123, 123, 235);}
    
} */

.container{
 display: flex;   
 flex-wrap: wrap ;
 justify-content: center;
 
}

.container img{
    width: 400px;
    height: 400px;
    margin: 10px;
    transition: all 1s;
}



.container img:hover{
    transform: scale(1.4);
    box-shadow: 5px 5px 6px #524545;
    margin-left: auto;
    margin-right: auto;
}

.title{

    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    color: rgb(13, 112, 112);
    width: 400px;
    text-align: center;
    border-bottom: 2px solid green;
    border-right: 2px solid green;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(248, 240, 130);
    box-shadow: 4px 4px 5px #353535;
}
    
}